<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="author" content="CesarYKenneth">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Empleados</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style-index.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Empleados</h3>
        <div class="row">
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <button type="button" class="btn btn-primary" onclick="window.location.href = '../../views/admin/agregar-empleado.html'">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tables -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="6" class="rowsFound"></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th class="text-center">Apellido</th>
                    <th class="text-center">Telefono</th>
                    <th class="text-center">Correo_electronico</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody class="tableBody">
                <tr>
                    <td class="Nombre1 align-middle text-center">Miguel</td>
                    <td class="Apellido1 align-middle text-center">Ortiz</td>
                    <td class="Telefono1 align-middle text-center">+503 5689-9878</td>
                    <td class="CorreoElectronico1 align-middle text-center"style="max-width: 250px;"><p class="text-break">miguelortiz@gmail.com</p></td>
                    <td class="Cargo2 align-middle text-center">
                        <select class="form-select" id="cargoSelect">
                            <option selected disabled>Seleccionar Cargo</option>
                            <option value="administrador">Administrador</option>
                            <option value="empleado">Empleado</option>
                        </select>
                    </td>
                    
                    
                    <td class="align-middle text-center">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/edit.png" height="50" width="50"></button>               
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/delete.png" height="50" width="50"></button>
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/document.png" height="50" width="50"></button>
                            </div>
                        </div>
                    </td>
                </tr>  
            </tbody>
            <tbody class="tableBody">
                <tr>
                    <td class="Nombre2 align-middle text-center">Luis</td>
                    <td class="Apellido2 align-middle text-center">Perez</td>
                    <td class="Telefono2 align-middle text-center">+503 8989-988</td>
                    <td class="CorreoElectronico2 align-middle text-center"style="max-width: 250px;"><p class="text-break">luisperez@fitness.com</p></td>
                    <td class="Cargo2 align-middle text-center">
                        <select class="form-select" id="cargoSelect">
                            <option selected disabled>Seleccionar Cargo</option>
                            <option value="administrador">Administrador</option>
                            <option value="empleado">Empleado</option>
                        </select>
                    </td>
                    
                    
                    <td class="align-middle text-center">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/edit.png" height="50" width="50"></button>               
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/delete.png" height="50" width="50"></button>
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/document.png" height="50" width="50"></button>
                            </div>
                        </div>
                    </td>
                </tr>  
            </tbody>
            <tbody class="tableBody">
                <tr>
                    <td class="Nombre2 align-middle text-center">Juan</td>
                    <td class="Apellido2 align-middle text-center">Valdez</td>
                    <td class="Telefono2 align-middle text-center">+256 8989-988</td>
                    <td class="CorreoElectronico2 align-middle text-center" style="max-width: 250px;"><p class="text-break">juanvaldez.carlos@sports.com</p></td>
                    <td class="Cargo3 align-middle text-center">
                        <select class="form-select" id="cargoSelect">
                            <option selected disabled>Seleccionar Cargo</option>
                            <option value="administrador">Administrador</option>
                            <option value="empleado">Empleado</option>
                        </select>
                    </td>
                    
                    <td class="align-middle text-center">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/edit.png" height="50" width="50"></button>               
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/delete.png" height="50" width="50"></button>
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/document.png" height="50" width="50"></button>
                            </div>
                        </div>
                    </td>
                </tr>  
            </tbody>
        </table>
    </main>
    
    
    <!-- JavaScript imports -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../../controllers/utils/admin-header.js"></script>
    <script src="../../../controllers/admin/login.js"></script>
</body>

</html>
