<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="author" content="CesarYKenneth">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Clientes</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style-index.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Detalle Venta</h3>
        <div class="row">
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <button type="button" class="btn btn-primary"
                    onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tables -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="7" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio_unitario</th>
                    <th>Subtotal</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr>
                </tr>
            </tbody>
            <!-- Componente Modal para guardar un registro -->
            <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalTitle"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Formulario para crear o actualizar un registro -->
                        <form id="saveForm">
                            <div class="modal-body row g-3">
                                <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                                <input type="hidden" id="idDetalleVenta" name="idDetalleVenta">
                                <div class="col-sm-12 col-md-6">
                                    <label for="ventaDetalleV" class="form-label">Venta</label>
                                    <select id="ventaDetalleV" name="ventaDetalleV" class="form-select" required>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="productoDetalleV" class="form-label">Producto</label>
                                    <select id="productoDetalleV" name="productoDetalleV" class="form-select" required>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="cantidadDetalleV" class="form-label">Cantidad</label>
                                    <input id="cantidadDetalleV" type="number" name="cantidadDetalleV" min="0.01" step="0.01"
                                        class="form-control" required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="direccionDetalleV">Dirección</label>
                                    <input type="text" class="form-control" name="direccionDetalleV"
                                        id="direccionDetalleV" required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="subtotalDetalleV" class="form-label">Subototal</label>
                                    <input id="subtotalDetalleV" type="number" name="subtotalDetalleV" min="0.01" step="0.01"
                                        class="form-control" required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="descuentoDetalleV" class="form-label">Descuento</label>
                                    <input id="descuentoDetalleV" type="number" name="descuentoDetalleV" min="0.01" step="0.01"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </main>

    <!-- JavaScript imports -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/detalle_venta.js"></script>
</body>

</html>