<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Productos</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style-index.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Productos</h3>
        <div class="row">
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tables -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="7" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Existencias</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idProducto" name="idProducto">
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreProducto" class="form-label">Nombre</label>
                                <input id="nombreProducto" type="text" name="nombreProducto" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="descripcionProducto" class="form-label">Descripción</label>
                                <input id="descripcionProducto" type="text" name="descripcionProducto"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="precioProducto" class="form-label">Precio (US$)</label>
                                <input id="precioProducto" type="number" name="precioProducto" min="0.01" step="0.01"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="existenciasProducto" class="form-label">Existencias</label>
                                <input id="existenciasProducto" type="number" name="existenciasProducto" min="1"
                                    step="1" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="categoriaProducto" class="form-label">Categoría</label>
                                <select id="categoriaProducto" name="categoriaProducto" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="marcaProducto" class="form-label">Marca</label>
                                <select id="marcaProducto" name="marcaProducto" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="proveedorProducto" class="form-label">Proveedor</label>
                                <select id="proveedorProducto" name="proveedorProducto" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="imagenProducto" class="form-label">Imagen</label>
                                <input id="imagenProducto" type="file" name="imagenProducto" class="form-control"
                                    accept=".png, .jpg">
                            </div>
                            <div class="form-check form-switch form-check-reverse">
                                <input class="form-check-input" type="checkbox" id="estadoProducto"
                                    name="estadoProducto" checked>
                                <label class="form-check-label" for="estadoProducto">Estado</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- JavaScript imports -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/producto.js"></script>
</body>

</html>