<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Clientes</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style-index.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Clientes</h3>
        <div class="row">
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar..." required="">

                    </div>
                    <div class="col-6">

                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tables -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="5" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo_electronico</th>
                    <th>DUI</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para guardar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idCliente" name="idCliente">
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreCliente" class="form-label">Nombre</label>
                                <input id="nombreCliente" type="text" name="nombreCliente" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="apellidoCliente" class="form-label">Apellido</label>
                                <input id="apellidoCliente" type="text" name="apellidoCliente" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="correoCliente" class="form-label">Correo</label>
                                <input id="correoCliente" type="email" name="correoCliente" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="col-sm-12 col-md-6">
                                    <label for="telefonoCliente" class="form-label">Teléfono</label>
                                    <input id="telefonoCliente" type="text" name="telefonoCliente" class="form-control"
                                        required maxlength="9">
                                    <small id="telefonoHelp" class="form-text text-muted">Ingrese un número de teléfono
                                        válido (ejemplo: 8986-9899).</small>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="duiCliente" class="form-label">DUI</label>
                                <input id="duiCliente" type="text" name="duiCliente" class="form-control" required
                                    pattern="[0-9]{8}-[0-9]" title="Ingrese el DUI en el formato correcto (00000000-0)"
                                    placeholder="00000000-0" maxlength="10">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="fechaNacimientoCliente" class="form-label">Fecha de nacimiento</label>
                                <input id="fechaNacimientoCliente" type="date" name="fechaNacimientoCliente"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="direccionCliente" class="form-label">Dirección</label>
                                <input id="direccionCliente" type="text" name="direccionCliente" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveAdministrador" class="form-label">Contraseña</label>
                                <input id="claveCliente" type="password" name="claveCliente" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </main>

    <!-- JavaScript imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/clientes.js"></script>

</body>

</html>