<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="author" content="CesarYKenneth">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Valoracion</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style-index.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Valoraciones</h3>
        <div class="row">
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <button type="button" class="btn btn-primary" onclick="window.location.href = '../../views/admin/agregar-valoracion.html'">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tables -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="6" class="rowsFound"></td>
                </tr>
                <tr>
                    <th>Producto Id</th>
                    <th class="text-center">Cliente Id</th>
                    <th class="text-center">Calificacion</th>
                    <th class="text-center">Comentario</th>
                    <th class="text-center">Fecha Valoracion</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody id="3" class="tableBody">
                <tr>
                    <td class="ProductoId1 align-middle text-center">PRDCT-20523</td>
                    <td class="ClienteId1 align-middle text-center">CLNT-83745</td>
                    <td class="CalificacionId1 align-middle text-center">5</td>
                    <td class="Comentario1 align-middle">
                        <div style="max-width: 434.58px;">
                            <p class="text-break text-center">Buen producto</p>
                        </div>
                    </td>
                   
                    <td class="ValoracionId align-middle text-center">2022/10/2</td>
                    <td class="align-middle text-center">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn-editar mt-3 mx-1 btn-editar" data-producto-id="PRDCT-20523"><img src="../../resources/img/edit.png" height="50" width="50"></button>               
                                <button type="button" class="btn-eliminar mt-3 mx-1 btn-eliminar" data-producto-id="PRDCT-1007"><img src="../../resources/img/delete.png" height="50" width="50"></button>
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/document.png" height="50" width="50"></button>
                            </div>
                        </div>
                    </td>
                </tr>  
            </tbody>
            <tbody id="1" class="tableBody">
                <tr>
                    <td class="ProductoId1 align-middle text-center">PRDCT-20513</td>
                    <td class="ClienteId1 align-middle text-center">CLNT-84745</td>
                    <td class="CalificacionId1 align-middle text-center">2</td>
                    <td class="Comentario1 align-middle">
                        <div style="max-width: 434.58px;">
                            <p class="text-break text-center">Mal producto exploto al abrirlo</p>
                        </div>
                    </td>
                    <td class="ValoracionId align-middle text-center">2020/8/2</td>
                    <td class="align-middle text-center">
                        <div class="row">
                            <div class="col">
                                <button type="button" class= "btn-editar mt-3 mx-1 btn-editar"data-producto-id="PRDCT-20523"><img src="../../resources/img/edit.png" height="50" width="50"></button>               
                                <button type="button" class="btn-eliminar mt-3 mx-1 btn-eliminar" data-producto-id="PRDCT-1007"><img src="../../resources/img/delete.png" height="50" width="50"></button>
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/document.png" height="50" width="50"></button>
                            </div>
                        </div>
                    </td>
                </tr>  
            </tbody>
            <tbody id="2" class="tableBody">
                <tr>
                    <td class="ProductoId1 align-middle text-center">PRDCT-23251</td>
                    <td class="ClienteId1 align-middle text-center">CLNT-83745</td>
                    <td class="CalificacionId1 align-middle text-center">4</td>
                    <td class="Comentario1 align-middle">
                        <div style="max-width: 434.58px;">
                            <p class="text-break text-center">Un producto decente</p>
                        </div>
                    </td>
                    <td class="ValoracionId align-middle text-center">2024/09/12</td>
                    <td class="align-middle text-center">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn1 mt-3 mx-1 btn-editar" data-producto-id="PRDCT-20523"><img src="../../resources/img/edit.png" height="50" width="50"></button>               
                                <button type="button" class="btn btn1 mt-3 mx-1 btn-eliminar" data-producto-id="PRDCT-1007"><img src="../../resources/img/delete.png" height="50" width="50"></button>
                                <button type="button" class="btn btn1 mt-3 mx-1"><img src="../../resources/img/document.png" height="50" width="50"></button>
                            </div>
                        </div>
                    </td>
                </tr>  
            </tbody>
        </table>
    </main>
 

    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../../controllers/utils/admin-header.js"></script>
    <script src="../../../controllers/admin/login.js"></script>
</body>

</html>
