<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="author" content="CesarYKenneth">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Empleados</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style-index.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Empleados</h3>
        <div class="row">
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tables -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="5" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th class="text-center">Apellido</th>
                    <th class="text-center">Correo_electronico</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody id="tableBody">
 
            </tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para guardar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idAdministrador" name="idAdministrador">
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreAdministrador" class="form-label">Nombre</label>
                                <input id="nombreAdministrador" type="text" name="nombreAdministrador"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="apellidoAdministrador" class="form-label">Apellido</label>
                                <input id="apellidoAdministrador" type="text" name="apellidoAdministrador"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="correoAdministrador" class="form-label">Correo</label>
                                <input id="correoAdministrador" type="email" name="correoAdministrador"
                                    class="form-control" required>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <label for="claveAdministrador" class="form-label">Contraseña</label>
                                <input id="claveAdministrador" type="password" name="claveAdministrador"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="idCargo" class="form-label">Cargo</label>
                                <select id="idCargo" name="idCargo" class="form-select" required>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>


    <!-- JavaScript imports -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/empleados.js"></script>

</body>

</html>