<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-login-admin.css">
</head>

<body >

    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle">Agregar Cargo</h3>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="foto">Subir Foto:</label>
                <input type="file" id="foto" name="foto" class="form-control">
            </div>
            
            <!-- Add margin to create space below the last fields -->
            <div class="form-group mt-4">
                <!-- Empty div to create space -->
            </div>
            
            <div class="form-group d-flex">
                <button type="button" class="btn btn-secondary mr-2" onclick="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </main>
    
    



    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin-header.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/login.js"></script>
</body>

</html>