<!DOCTYPE html>
<html lang="es">

<head>
    <title>GymInfernus - Dashboard</title>
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" href="../../resources/css/style-index.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Dashboard</h3>
        <!-- Fila de cuadrados -->

        <div class="row">
            <div class="col col-3">
                <div class="card" style="background-color: #00A3AD;">
                    <div class="card-body text-center">
                        <h4 class="card-title text-white">150</h4>
                        <h4 class="card-title text-white">Ordenes <img
                                src="../../resources/img/icons/dashboard/shop.png" width="40px" height="40px"></h4>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card" style="background-color: #388E1A;">
                    <div class="card-body text-center">
                        <h4 class="card-title text-white">53%</h4>
                        <h4 class="card-title text-white">Calificación <img
                                src="../../resources/img/icons/dashboard/star.png" width="40px" height="40px"></h4>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card" style="background-color: #CDDD15;">
                    <div class="card-body text-center">
                        <h4 class="card-title text-white">44</h4>
                        <h4 class="card-title text-white">Usuarios <img
                                src="../../resources/img/icons/dashboard/person.png" width="40px" height="40px"
                                style="margin-top: 10px;"><br>Registrados</h4>
                    </div>
                </div>
            </div>

            <div class="col col-3">
                <div class="card" style="background-color: #611BBA;">
                    <div class="card-body text-center">
                        <h4 class="card-title text-white">65</h4>
                        <h4 class="card-title text-white">Visitas al sitio <img
                                src="../../resources/img/icons/dashboard/web.png" width="40px" height="40px"><br>web
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Espacio usando margin-->

        <div class="my-4"></div>
        <div>Clientes recientes</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-wrap" style="font-weight: normal">Nombre</th>
                    <th class="text-wrap" style="font-weight: normal">Apellido</th>
                    <th class="text-wrap" style="font-weight: normal">Email</th>
                    <th class="text-wrap" style="font-weight: normal">Direccion</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-wrap">
                        <h4 class="Nombre"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Apellido"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Email"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Direccion"></h4>
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-wrap">
                        <h4 class="Nombre"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Apellido"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Email"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Direccion"></h4>
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-wrap">
                        <h4 class="Nombre"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Apellido"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Email"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Direccion"></h4>
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-wrap">
                        <h4 class="Nombre"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Apellido"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Email"></h4>
                    </th>
                    <th class="text-wrap">
                        <h4 class="Direccion"></h4>
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
        <!-- Additional tables go here -->

        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <!-- Modal content -->
        </div>
    </main>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/dashboard.js"></script>
</body>

</html>