.Mancuernas1{
margin-top: -30%;
margin-left: 0%;
}
.Maquinas1{
    margin-top: -30%;
    margin-left: -1%;
}

.Suplementos1{
    margin-top: -23%;
    margin-left: 5%;
}

.btn1{
   margin-top: -100%;
   margin-left: 35%;
}

.btn2{
    margin-top: -100%;
    margin-left: -30%;
}

.btn3{
    margin-top: -150%;
    margin-left: -90%;
}

.btn4{
    margin-top: -150%;
    margin-left: 55%;
}

.btn5{
    margin-top: -150%;
    margin-left: -10%;
}

.btn6{
    margin-top: -150%;
    margin-left: -75%;
}

.btn7{
    margin-top: -150%;
    margin-left: 40%;
}

.btn9{
    margin-top: -150%;
    margin-left: -90%;
}


.btn8{
    margin-top: -150%;
    margin-left: -25%;
}
