/* Custom styles for the terms and conditions section */
body {
    background: linear-gradient(#EC8080, rgb(141, 73, 73), rgba(177, 174, 175, 0.21), rgba(158, 155, 156, 0.39));
}


.terms-section {
    padding: 30px;

    border-radius: 10px;
}

.term {
    margin-bottom: 30px;
}

.term h2 {
    font-size: 1.5rem;
    font-weight: bold;

}

.term p {
    font-size: 1.1rem;
    line-height: 1.6;

}

.accept-terms {
    font-size: 1rem;

}

.read-terms {
    font-size: 1rem;

    text-align: justify;
}