.btn-custom {
    background-color: #D9D9D9;
    color: #000000; /* Change text color if needed */
    font-size: 11px; /* Change font size as needed */
    padding: 6px 11px; /* Adjust padding as needed */
}

.btn-custom:hover {
    background-color: #D9D9D9; /* Change hover color if needed */
    color: #000000; /* Change text color if needed */
}

.hidden {
    display: none;
}
.card-body-custom {
height: 250px; /* Adjust the height as needed */
overflow: hidden; 
}
.card-text {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
-webkit-line-clamp: 4;  
line-clamp: 4;  
}