<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión del Perfil de Usuario</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css" />
</head>

<body>
    <main class="container mt-5">
        <h4 class="text-center" id="mainTitle"></h4>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Gestión del perfil de usuario</h2>
                <form id="changePasswordForm" action="#" method="post">
                    <div class="mb-3">
                        <label for="current-password" class="form-label">Ingresa tu contraseña:</label>
                        <input type="password" id="current-password" name="current-password" class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="new-password" class="form-label">Nueva Contraseña:</label>
                        <input type="password" id="new-password" name="new-password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="repeat-password" class="form-label">Repite la nueva contraseña:</label>
                        <input type="password" id="repeat-password" name="repeat-password" class="form-control"
                            required>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
                <div class="text-center">
                    <p class="mb-0">¿Deseas editar tu perfil? <a href="perfile.html">Modificar datos</a></p>
                </div>
            </div>
        </div>
    </main>

    <!-- Archivos JavaScript -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/contraseña.js"></script>
</body>

</html>
