<!DOCTYPE html>
<html lang="es">

<head>
    <title>Detalles del Producto</title>
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <h4 id="mainTitle"></h4>
        <div class="card mb-3" id="detalle">
            <div class="row">
                <div class="col-md-4">
                    <img id="imagenProducto" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="nombreProducto"></h5>
                        <p class="card-text" id="descripcionProducto"></p>
                        <p class="card-text">Precio unitario (US$) <b id="precioProducto"></b></p>
                        <p class="card-text">Existencias <b id="existenciasProducto"></b></p>
                        <form class="row" id="shoppingForm">
                            <input type="hidden" id="idProducto" name="idProducto">
                            <div class="col-6">
                                <input type="number" id="cantidadProducto" name="cantidadProducto" min="1" class="form-control" placeholder="Ingrese cantidad" required>
                            </div>
                            <div class="col-6 align-self-end">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-cart-plus-fill"></i> Comprar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección para mostrar comentarios y valoraciones -->
        <div id="comentariosValoraciones">
            <!-- Aquí se llenarán dinámicamente los comentarios y valoraciones -->
        </div>
    </main>

    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/detail.js"></script>
</body>

</html>
