<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <h4 id="mainTitle"></h4>

        <table class="table table-light table-striped">
            <!-- Cabeza de la tabla para mostrar los títulos de las columnas -->
            <thead>
                <tr>
                    <th>PRODUCTO</th>
                    <th>PRECIO (US$)</th>
                    <th>CANTIDAD</th>
                    <th>SUBTOTAL (US$)</th>
                    <th>ESTADO</th>
                    <th>VALORACION</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#itemModal">Primary</button>

        <!-- Componente Modal para mostrar una caja de diálogo -->
        <div class="modal fade" id="itemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header  text-dark">
                        <h5 class="modal-title" id="modalTitle">Reseña del producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar cantidad -->
                    <form id="itemForm">
                        <div class="modal-body">
                            <input type="number" class="d-none" id="idDetalle" name="idDetalle">
                            <div class="mb-3">
                                <label for="calificacionValoracion" class="form-label">Calificación</label>
                                <input id="calificacionValoracion" type="number" name="calificacionValoracion" min="0"
                                    max="10" step="0.1" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="comentarioValoracion">Comentario</label>
                                <textarea class="form-control" name="comentarioValoracion" id="comentarioValoracion"
                                    rows="3" aria-describedby="comentarioHelp"></textarea>
                                <div id="comentarioHelp" class="form-text">Escribe una reseña sobre el producto.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/public/historial.js"></script>
</body>

</html>