<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-novedades.css">
 
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h3 id="mainTitle"></h3>
        <div class="col-12 text-center mt-5"> <!-- Centering the text -->
            <h4>Mancuernas</h4>
        </div>
        <div class="container mt-3" id="cardContainer">
            <div class="row justify-content-center card-row">
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/mancuernas/mancuerna1.png"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Rober Hegaxon 4KG</h5>
                            <p class="card-text text-break">
                                Mancuerna Gym Power Rober Hegaxon 4KG
                                Con las Mancuernas Gym Power podrás tonificar tus músculos y aumentar tu resistencia.
                                Estas pesas de entrenamiento son de metal y te permiten un mejor agarre para evitar
                                deslizamientos. Combínalas con tu rutina de ejercicios favorita.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div>

                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/mancuernas/mancuerna2.png"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Argot Mancuernas</h5>
                            <p class="card-text text-break">
                                Las conocidas como pesas, en el argot del fitness, mancuernas, son el elemento principal
                                para entrenar en casa con resultados, explica Alcaraz: "Es el material más versátil y el
                                primero en el que invertiría. Puedes irte a lo más ligero o moderado hasta lo más
                                pesado, según las opciones para comprar.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 card-row">

                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/mancuernas/mancuerna3.png"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Titanium Strength</h5>
                            <p class="card-text text-break">
                                La marca Titanium Strength cubre todas las necesidades con este set de mancuernas +
                                soporte horizontal de almacenamiento para mantenerlas ordenadas. Se trata de un set de
                                10 pares de mancuernas ergonómicas que van desde los 2,5 kg hasta los 25 kg, así que son
                                ideales para usuarios de poco nivel y para usuarios avanzados.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div>

                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/mancuernas/mancuerna4.png"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Mancuernas de peso fijo</h5>
                            <p class="card-text text-break">
                                Las mancuernas de peso fijo son herramientas de entrenamiento versátiles y eficaces
                                diseñadas para fortalecer y tonificar los músculos de todo el cuerpo.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="previousButton">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(2)">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(3)">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(4)">4</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(5)">5</a></li>
                <li class="page-item" id="nextButton">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </main>




    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/pagination-handler.js"></script>
</body>

</html>