<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-novedades.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h3 id="mainTitle"></h3>
        <!-- Container for the cards -->
        <div class="col-12 text-center mt-5"> <!-- Centering the text -->
            <h4>Maquinas</h4>
        </div>
        <div class="container mt-3" id="cardContainer">  
            <div class="row justify-content-center card-row">  
                <!-- Primera carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/minigym.jpg" alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">MAQUINA MINI GIMNASIO</h5>
                            <p class="card-text text-break">
                                Máquina de mini gimnasio multifuncional.
                                Disponible en color negro/amarillo.
                                Estructura y soporte fabricados en material metálico resistente.
                                Asiento y respaldo recubiertos con material tipo piel.
                                Almohadillas acolchonadas para tus piernas que garantizan mayor comodidad.
                                Ofrece gran funcionalidad.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div> <!-- Columna en blanco para espacio -->
                <!-- Segunda Carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/bancodepesas.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">BANCO P/ LEVANTAMIENTO DE PESAS AJUSTABLE YG12013</h5>
                            <p class="card-text text-break">
                                Banco para levantamiento de pesas.
                                Disponible en color negro/rojo.
                                Estructura y soporte fabricados en material metálico resistente.
                                Asiento y respaldo recubiertos con material tipo piel.
                                Bases antideslizantes.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 card-row"> <!-- se agrego la propiedad mt-4 class para el top margin entre las filas-->
                <!-- Tercera carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/caminadora.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">CAMINADORA MECANICAYG03005</h5>
                            <p class="card-text text-break">
                                Máquina caminadora mecánica.
                                Disponible en color gris.
                                Estructura fabricada con material metálico resistente.
                                Banda antideslizante.
                                Cuenta con empuñaduras cómodas recubiertas.
                                Tiene bases antideslizantes para garantizar seguridad.
                                Cuenta con rodillos detransporte.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div>  
                <!-- Cuarta carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/bancodepress.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">BANCO PARA LEVANTAMIENTO DE PESAS HO-1336</h5>
                            <p class="card-text text-break">
                                Material: Poliuretano de tubo de acero de alta calidad.
                                Adecuado para altura: menos de 185 cm.
                                Ámbito de aplicación: entrenamiento de fuerza.
                                Área de ejercicio: pecho, espalda, hombros, abdomen, glúteos.
                                Papel: pérdida de peso, fitness, vida saludable.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container mt-3" id="cardContainer2">  
            <div class="row justify-content-center card-row">  
                <!-- Primera carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/minigym.jpg" alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">MAQUINA MINI GIMNASIOOO</h5>
                            <p class="card-text text-break">
                                Máquina de mini gimnasio multifuncional.
                                Disponible en color negro/amarillo.
                                Estructura y soporte fabricados en material metálico resistente.
                                Asiento y respaldo recubiertos con material tipo piel.
                                Almohadillas acolchonadas para tus piernas que garantizan mayor comodidad.
                                Ofrece gran funcionalidad.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div> <!-- Columna en blanco para espacio -->
                <!-- Segunda Carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/bancodepesas.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">BANCO P/ LEVANTAMIENTO DE PESAS AJUSTABLE YG12013</h5>
                            <p class="card-text text-break">
                                Banco para levantamiento de pesas.
                                Disponible en color negro/rojo.
                                Estructura y soporte fabricados en material metálico resistente.
                                Asiento y respaldo recubiertos con material tipo piel.
                                Bases antideslizantes.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 card-row"> <!-- se agrego la propiedad mt-4 class para el top margin entre las filas-->
                <!-- Tercera carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/caminadora.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">CAMINADORA MECANICAYG03005</h5>
                            <p class="card-text text-break">
                                Máquina caminadora mecánica.
                                Disponible en color gris.
                                Estructura fabricada con material metálico resistente.
                                Banda antideslizante.
                                Cuenta con empuñaduras cómodas recubiertas.
                                Tiene bases antideslizantes para garantizar seguridad.
                                Cuenta con rodillos detransporte.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div>  
                <!-- Cuarta carta -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/maquinas/bancodepress.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">BANCO PARA LEVANTAMIENTO DE PESAS HO-1336</h5>
                            <p class="card-text text-break">
                                Material: Poliuretano de tubo de acero de alta calidad.
                                Adecuado para altura: menos de 185 cm.
                                Ámbito de aplicación: entrenamiento de fuerza.
                                Área de ejercicio: pecho, espalda, hombros, abdomen, glúteos.
                                Papel: pérdida de peso, fitness, vida saludable.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="previousButton">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(2)">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(3)">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(4)">4</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(5)">5</a></li>
                <li class="page-item" id="nextButton">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>


    </main>




    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/pagination-handler.js"></script>
</body>

</html>