<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-novedades.css">
</head>

<body>

    <!-- Contenido principal del documento -->
    <main class="container-fluid">
        <h4 id="mainTitle"></h4>
        <div class="row mt-3">
            <div class="col-md-6 mx-auto text-center">
                <!-- Imagen -->
                <img src="../../resources/img/icon.png" alt="Image" width="400px" height="400px"
                    class="img-fluid rounded d-block mx-auto">
                <!-- Texto -->
                <h4 class="mt-3">Misión de Infernus Gym Shop</h4>
                <p>Facilitar a nuestros clientes el acceso a productos de alta calidad y última tecnología para el
                    fitness y el entrenamiento, brindando una experiencia de compra online excepcional. Nos
                    comprometemos a inspirar y apoyar a nuestros clientes en su búsqueda de un estilo de vida saludable
                    y activo, proporcionando productos innovadores y motivadores que impulsen su rendimiento y
                    bienestar.</p>
                <!-- Text -->
                <h4 class="mt-3">Visión de Infernus Gym Shop</h4>
                <p>Aspiramos a ser la principal fuente de inspiración y suministros para la comunidad fitness,
                    consolidándonos como la tienda online preferida por aquellos que buscan productos de gym de
                    vanguardia. Buscamos contribuir al éxito de nuestros clientes al ofrecer no solo productos de alta
                    calidad, sino también información valiosa, asesoramiento experto y un sentido de comunidad en torno
                    al bienestar físico. Nuestra visión es ser reconocidos como un referente confiable y motivador en la
                    industria del fitness, respaldando el crecimiento y éxito de nuestros clientes.</p>
            </div>
        </div>


    </main>


    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/mision.js"></script>
</body>

</html>