<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-novedades.css">
</head>

<body>

    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle"></h4>
        <!--Subtitutlo Terminos y condiciones-->
        <div id="SubText"></div>
        <div class="row">
            <div class="col-12 d-flex">
                <h2>Ofertas</h2>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <a href="#" class="btn btn-primary" style="font-size: 12px; background-color: #5EB9F5;">Ver todas</a>
            </div>
        </div>
        <div class="mt-3"></div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../resources/img/ofertas3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Solo hoy 20% de descuento en nuestros productos de ropa para gym</h5>
                        <p class="card-text">
                            <span>
                                <img src="../../resources/img/clockcircletwotone.png" alt="Clock Icon" width="16" height="16">
                            </span>
                            Termina en 24 horas
                        </p>
                        <br>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="discount-tag">
                                <span>
                                    <img src="../../resources/img/minuscircletwotone.png" alt="Clock Icon" width="16" height="16">
                                </span>
                                50% OFF</span>
                                <a href="#" class="btn btn-custom">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../resources/img/ofertas2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Oferta especial: Obten 60% de descuento al comprar más de 5 productos en la categoria de mancuernas</h5>
                        <p class="card-text">
                            <span>
                                <img src="../../resources/img/clockcircletwotone.png" alt="Clock Icon" width="16" height="16">
                            </span>
                            Termina en 24 horas</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="discount-tag">
                                <span>
                                    <img src="../../resources/img/minuscircletwotone.png" alt="Clock Icon" width="16" height="16">
                                </span>
                                50% OFF</span>
                                <a href="#" class="btn btn-custom">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../resources/img/ofertas3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Solo hoy 20% de descuento en nuestros productos de ropa para gym</h5>
                        <p class="card-text">
                            <span>
                                <img src="../../resources/img/clockcircletwotone.png" alt="Clock Icon" width="16" height="16">
                            </span>
                            Termina en 24 horas</p>
                        <br>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="discount-tag">
                                <span>
                                    <img src="../../resources/img/minuscircletwotone.png" alt="Clock Icon" width="16" height="16">
                                </span>
                                50% OFF</span>
                                <a href="#" class="btn btn-custom">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/novedades.js"></script>
</body>

</html>
