<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión del Perfil de Usuario</title>
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main class="container mt-5">
        <h4 class="text-center" id="mainTitle"></h4>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Gestión del perfil de usuario</h2>
                <form id="editProfileForm" action="#" method="post" class="needs-validation" novalidate>
                    <div class="modal-body row g-3">
                        <input type="hidden" id="idCliente" name="idCliente">
                        <div class="col-md-6">
                            <label for="nombreCliente" class="form-label">Nombre</label>
                            <input id="nombreCliente" type="text" name="nombreCliente" class="form-control" placeholder="John" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+">
                            <div class="invalid-feedback">Por favor, ingrese su nombre. Solo se permiten letras.</div>
                        </div>
                        <div class="col-md-6">
                            <label for="apellidoCliente" class="form-label">Apellido</label>
                            <input id="apellidoCliente" type="text" name="apellidoCliente" class="form-control" placeholder="Doe" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+">
                            <div class="invalid-feedback">Por favor, ingrese su apellido. Solo se permiten letras.</div>
                        </div>
                        <div class="col-md-6">
                            <label for="correoCliente" class="form-label">Correo</label>
                            <input id="correoCliente" type="email" name="correoCliente" class="form-control" placeholder="johndoe@gmail.com" required>
                            <div class="invalid-feedback">Por favor, ingrese un correo válido.</div>
                        </div>
                        <div class="col-md-6">
                            <label for="telefonoCliente" class="form-label">Teléfono (+503)</label>
                            <input id="telefonoCliente" type="text" name="telefonoCliente" class="form-control" placeholder="xxxx-xxxx" required maxlength="9" pattern="[267][0-9]{3}-[0-9]{4}">
                            <div class="invalid-feedback">Por favor, ingrese un teléfono válido (xxxx-xxxx).</div>
                        </div>
                        <div class="col-md-6">
                            <label for="duiCliente" class="form-label">DUI</label>
                            <input id="duiCliente" type="text" name="duiCliente" class="form-control" required pattern="[0-9]{8}-[0-9]" title="Ingrese el DUI en el formato correcto (00000000-0)" placeholder="00000000-0" maxlength="10">
                            <div class="invalid-feedback">Por favor, ingrese un DUI válido (00000000-0).</div>
                        </div>
                        <div class="col-md-6">
                            <label for="fechaNacimientoCliente" class="form-label">Fecha de nacimiento</label>
                            <input id="fechaNacimientoCliente" type="date" name="fechaNacimientoCliente" class="form-control" required>
                            <div class="invalid-feedback">Por favor, ingrese su fecha de nacimiento.</div>
                        </div>
                        <div class="col-md-12">
                            <label for="direccionCliente" class="form-label">Dirección</label>
                            <input id="direccionCliente" type="text" name="direccionCliente" class="form-control" placeholder="Ej: Calle San Antonio, #23, Col. Santa Lucia, SS" required>
                            <div class="invalid-feedback">Por favor, ingrese su dirección.</div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <p class="mb-0">¿Deseas cambiar tu contraseña? <a href="contraseña.html">Cambiar clave</a></p>
                </div>
            </div>
        </div>
    </main>

    <!-- Archivos JavaScript -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../resources/js/imask.js"></script>
    <script src="../../controllers/utils/public.js"></script>
    <script src="../../controllers/public/gestion.js"></script>
</body>

</html>
