<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>


    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-index.css">
</head>
<body>
   
    
    <main>
   
    <!-- Contenido principal del documento -->
    
    <div class="container">
        <h3>Precio:</h3>
        <img src="../../resources/img/precio.png">
        <h3>Cantidades disponibles:</h3>
        <img src="../../resources/img/canitdades.png" >
        <h3>Cantidad a comprar:</h3>
        <img src="../../resources/img/cantidad.png" width="70" height="30">
        <h3>Total:</h3>
        <img src="../../resources/img/total.png" width="70" height="30">


        <div class="row justify-content-center mt-5">
            <div class="col-sm-6">
                <div class="card" style="max-width: 300px;">
                    <img src="../../resources/img/image 37.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mancuernas maniak 20 KG</h5>
                        <p class="card-text">Las mancuernas hexagonales Maniak Fitness tienen dos cabezas recubiertas de caucho y con caras aplanadas de forma que
                            te permiten realizar muchos ejercicios tanto de peso libre, 
                            como apoyado sobre ellas (flexiones, man maker, devil press, ejercicios gimnásticos como L-sit o pino, etc...) 
                            mientras que otras con cabezas redondas no se pueden realizar tan cómodamente.</p>
                            
                    </div>
                   
                        
                  
        <!-- Título del contenido principal -->
        <h4 id="mainTitle"></h4>
        <!-- Contenedor para mostrar los productos disponibles de la categoría seleccionada -->
        <div class="row" id="productos"></div>
        <h4>Agregar al carrito</h4>
        <img src="../../resources/img/image 44.png" width="80" height="90">
    
        <h4>agregar a la lista de deseos</h4>
        <img src="../../resources/img/image 38.png" width="80" height="90">

        <h4>valorar el producto:</h4>
        <img src="../../resources/img/image 47.png" width="200" height="190">
    </main>
  
  
    
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/products.js"></script>
    <img src="../../resources/img/reseña.png" width="1000px">


</body>



</html>