<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-novedades.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h3 id="mainTitle"></h3>
        <!-- Container for the cards -->
        <div class="container mt-3" id="cardContainer"> <!-- Adjusted top margin -->
            <div class="row justify-content-center card-row"> <!-- Center the content horizontally -->
                <!-- First card -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/ropa/legacy.png" alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">LEGACY T-SHIRT</h5>
                            <p class="card-text text-break">
                                Old-school styles meet new-school functionalities in a collection designed to make gains
                                and build legacies. Legacy logo takes it back to our roots
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div> <!-- Empty column for spacing -->
                <!-- Second card -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/ropa/arrival.png" alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">ARRIVAL T-SHIRT</h5>
                            <p class="card-text text-break">
                                The Arrival T-Shirt is your admission to a new, purposeful approach to training. Created
                                to encourage you to aspire more, perform more and achieve more, this gym top boasts
                                fundamental performance technology for next-level results, with sweat-wicking technology
                                and a lightweight material that enables maximum movement and exertion.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 card-row"> <!-- Added mt-4 class for top margin between rows -->
                <!-- Third card -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/ropa/hoodie.png" alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">REST DAY ESSENTIALS HOODIE</h5>
                            <p class="card-text text-break">
                                Meet your key rest day pieces in the Rest Day collection, with styles as easy to wear as
                                your day is easygoing.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div> <!-- Empty column for spacing -->
                <!-- Fourth card -->
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/ropa/critical.png" alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">CRITICAL 2.0 DROP ARM TANK</h5>
                            <p class="card-text text-break">
                                A leader in simplicity, the Critical 2.0 Drop Arm Tank endures your training and
                                enhances your physique with a 5% Elastane content built into the material and a
                                flattering drop armhole cut. Train your hardest and Critical will never let you down.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="previousButton">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(2)">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(3)">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(4)">4</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(5)">5</a></li>
                <li class="page-item" id="nextButton">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </main>




    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/mancuernas.js"></script>
</body>

</html>