<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main class="container-fluid">
        <div class="row">
            <!-- Columna para la imagen -->
            <div class="col-lg-6">
                <img width="500" height="1000" src="../../resources/img/images.png" alt="Image" class="img-responsive left-image">
            </div>
            <!-- Columna para el formulario de inicio de sesión -->
            <div class="col-lg-6 right-column">
                <!-- Formulario para iniciar sesión -->
                <form class="row g-3" id="sessionForm">
                    <div class="col-12 d-flex flex-column align-items-center">

                        <img src="../../resources/img/icon.png" width="300px" height="300px" alt="Icon"
                            class="">
                        <!-- Título del contenido principal -->
                        <h4 class="text-center mb-4" id="mainTitle"></h4>
                        <!-- Added margin-bottom to create space below main title -->
                    </div>
                    <div class="col-sm-12">
                        <label for="nombre" class="form-label">Primer nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingresa tu primer nombre" required>
                    </div>
                    <div class="col-sm-12">
                        <label for="apellido" class="form-label">Apelllido :</label>
                        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Ingresa tu apellido" required>
                    </div>
                    <div class="col-sm-12">
                      <label for="correo" class="form-label">Correo electrónico:</label>
                      <input type="email" id="correo" name="correo" class="form-control" placeholder="Ingresa tu correo electronico" required>
                  </div>
                  <div class="col-sm-12">
                      <label for="clave" class="form-label">Contraseña:</label>
                      <input type="password" id="clave" name="clave" class="form-control" placeholder="Ingresa tu contrasena" required>
                  </div>

                    <div class="text-center col-12">
                        <button type="submit" class="btn btn-dark rounded-pill w-50">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/signup.js"></script>
</body>

</html>
