<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Kenneth & Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/style-novedades.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h3 id="mainTitle"></h3>
        <div class="col-12 text-center mt-5"> <!-- Centering the text -->
            <h4>Suplementos</h4>
        </div>
        <div class="container mt-3" id="cardContainer">  
            <div class="row justify-content-center card-row">  
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/suplementos/proteina.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">PROTEÍNA ON GOLD STANDARD 100% WHEY 2L</h5>
                            <p class="card-text text-break">
                                Aislado de proteína de suero de leche (WPI) como ingrediente principal, que es la forma
                                de proteína más pura que existe.
                                Más de 4 gramos de glutamina y ácido glutámico en cada porción
                                24g de proteína de suero de leche de alta calidad
                                5,5 g de BCAA naturales
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div>  
 
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/suplementos/creatina.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">CHEMISTRY LABS™ CREATINA HCL -120 SERVICIOS</h5>
                            <p class="card-text text-break">
                                Beyond Raw Chemistry Labs™ Creatine, apoya la energía inmediata durante el ejercicio
                                intenso y puede mejorar el rendimiento atlético, ayuda a alimentar los músculos y
                                promueve la hidratación celular. La creatina juega un papel importante en la síntesis de
                                proteínas musculares
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 card-row">  
 
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/suplementos/creatina2.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">GNC AMP CREATINA HCL 189</h5>
                            <p class="card-text text-break">
                                La creatina que se encuentra en GNC AMP Creatine HCL 189 ™ es una forma avanzada y
                                clínicamente estudiada llamada creatina polietilen glicosilada o PEG Creatina HCL. Se ha
                                demostrado que esta forma penetra en el músculo y mejora la fuerza y el rendimiento de
                                manera más eficiente que el monohidrato de creatina.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 mb-3"></div>  
 
                <div class="col-sm-6 col-md-3 mb-3 card-item">
                    <div class="card" style="background-color: #EDEDED;">
                        <img class="card-img-top" src="../../resources/img/suplementos/preworkout.jpg"
                            alt="Card image cap">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">BEYOND RAW® LIT™ PRE-WORKOUT</h5>
                            <p class="card-text text-break">
                                Beyond Raw LIT es un pre entreno que brinda energía y enfoque mental con 250 mg de
                                cafeína, mejora el flujo sanguíneo con 3 gr de L Citrulina, ayuda a mejorar el
                                rendimiento llevándolo al siguiente nivel con 3.2gr de beta alanina, mejora la
                                concentración incluso cuando no entrenas.
                            </p>
                            <a href="#" class="btn btn-custom" style="background-color: #FFFFFF; width: 200px;">Ver
                                producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="previousButton">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(2)">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(3)">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(4)">4</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPage(5)">5</a></li>
                <li class="page-item" id="nextButton">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>




    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/pagination-handler.js"></script>
</body>

</html>