<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../../resources/css/style-agregar-general.css">
</head>

<body>

    <!-- Contenido principal del documento -->
    <main class="container">
        <h3 id="mainTitle">Agregar Proveedor</h3>
        <form>
            <div class="row mb-4"> 
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <img src="../../../resources/img/icons/agreado/nombre.png" width="40" height="40">
                            </div>
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"
                                required>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <img src="../../../resources/img/icons/agreado/telefono.png" width="40" height="40">
                            </div>
                            <input type="number" id="telefono" name="telefono" class="form-control"
                                placeholder="Télefono" inputmode="numeric" pattern="[0-9]*"
                                title="Solo se puede ingresar números" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <img src="../../../resources/img/icons/agreado/direccion.png" width="50" height="50">
                            </div>
                            <input type="text" id="direccion" name="direccion" class="form-control"
                                placeholder="Dirección">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-secondary mr-2" onclick="cancelar()">
                        <img src="../../../resources/img/Close.png" alt="Cancelar" width="60" height="60">
                    </button>
                    <button type="submit" class="btn btn-primary ml-2" onclick="guardar()">
                        <img src="../../../resources/img/Save.png" alt="Guardar" width="60" height="58">
                    </button>
                </div>

            </div>
        </form>
    </main>



    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../../controllers/utils/admin-header.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../../controllers/admin/login.js"></script>
</body>

</html>